<h1>All To Do Lists</h1>
<form>
  <table >
    <tr>
      <th>Name</th>
      <th>Tasks<br>TBD</th>
      <th>List Actions</th>
    </tr>

    <% to_dos = ToDo.all %>
    <% to_dos.each do |to_do| %>
    <tr >
      <td><%= link_to(to_do.name,
                controller: 'to_dos', action: 'show', id: to_do.id) %>
      </td>
      <td>
        <%= to_do.open_tasks_count %>
      </td>
      <td>
        <%= button_to "Edit", { action: "edit", id: to_do.id }, method: :edit, class: "btn"%>
        <button name="button" class="btn">Archive</button>
        <button name="button" class="btn">Delete</button>
      </td>
    </tr>
    <% end %>
  </table>
</form>
<div class="create_new_button">
  <button type="button" class="btn">Create New List</button>
</div>

<% if to_dos.size == 0 %>
  <em>You haven't created any To Do List yet! That's your first To Do!!!</em>
<% end %>


<!-- The html/code below uses checkboxes. Decided not to use this because
checkboxes have some tricky aspects to them. Instead of displaying To do list
and task on the same page as To Do List user will need to click on To do list
and it will take them to the specific task associated with the clicked list  -->
  <!-- <ul>

    # <form action="/tasks/<%#= task.id %>" method="post">
    #   <%# to_do.tasks.each do |task| %>
    #   <li>
    #       <%# task.name %>
    #       <input name="_method" type="hidden" value="patch">
    #       <input name="task[task.id][is_done]" type="hidden" value="0">
    #       <input name="task[task.id][is_done]" class="mark_done" type="checkbox" value="1">
    #     </form>
    #   </li>
    # <%# end %>
  </ul> -->
