<h1>Tasks Items for:  <%= @to_do.name %></h1>
<p>  Here is the list of items: </p>
  <form id="form_id" action="/to_dos/<%= @to_do.id %>" method="post">
    <ul>
    <!--
    For each task on the page we will need to create a hash with the following
    structure (this is what the statement task[task.id][is_done] is doing)
    that will be passed to the controller. The controller will then
    extract the parameters and send to the model so that the model can update the
    database appropriately.

    {task:  {1: {is_done: true}}
    {       {2: {is_done: false}}
    {       {3: {is_done: true}}}
    -->
    <input name="_method" type="hidden" value="patch">
    <% logger.debug @to_do.tasks.inspect %>
      <% @to_do.tasks.each do |task| %>
        <li class=no_bullets>
          <input name="tasks_attributes[][id]" type="hidden" value="<%= task.id %>">
          <input name="tasks_attributes[][is_done]" type="hidden" value="0">
          <input name="tasks_attributes[][is_done]" class="mark_done" type="checkbox" value="1">
          <%= task.name %>
        </li>
      <% end %>
      <button type="submit">Update</button>

    </ul>
  </form>
</p>
