div {
  background-color: Beige;
}


table, th, td{
   border: 3px solid black;
   margin: 15px;
   padding: 15px;
   font-weight: bold;
}
table {
  width: 80%;
}
td {
  background-color: Beige;
}
.data_filters {
  border: 1px;
  margin: 15
}
#task_table {
  width: 100%;
}

#task_column {
  width: 55%;
}

th {
    background-color: DarkRed;
    color: white;
    align: center;
    font-size: 15px;
}

td .mark_done {
  text-align: center
  /*back-color: DarkCyan;*/
}
caption {
    display: table-caption;
    text-align: left;
    /*color: DarkCyan;*/
    color: DarkRed;
    font-size: large;
    font-weight: bold;
}
h1 {
    /*text-shadow: 2px 2px 8px DarkCyan;*/
    /*text-shadow: 2px 2px 8px DarkRed;*/

    /*#33CC33*/
}

.notice  {
  max-width: 500px;
  background-color: LightBlue;
  margin: 15px;
  padding: 10px;
  border: solid 5px DarkCyan;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 15px;
}

.data_filters {
  background-color: AliceBlue;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.success_update {
  font-weight: bold;
  font-style: italic;
  color: green;
}
.task_status {
  font-weight: bold;
  font-style: italic;
  color: 6495ED;
}
.task_done {
  font-weight: bold;
  font-style: italic;
  text-decoration: line-through;
  color: red;
}
.create_new_button {
  margin: 20px;
}
.input_field {

  width: 100%;
  height:15%;
  overflow: scroll;
  rows: 10; 

}
