<!DOCTYPE html>
<html>
<head>
  <title>ToDoRails</title>
  <!-- <link href="app/assets/stylesheets/bootstrap.css" rel="stylesheet" type="text/css"> -->
  <%#= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
